<div class="signup-container">
    <mat-card class="signup-card">
        <h1>Sign Up</h1>
        <form>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Username</mat-label>
                <input matInput type="text" name="username" required="required" [(ngModel)]="username" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" required="required" [(ngModel)]="password" />
            </mat-form-field>

            <div *ngIf="invalidSignup" class="error-message">
                {{ errorMessage }}
            </div>

            <button mat-raised-button (click)=onSubmit() color="primary" class="signup-button">
                Sign Up
            </button>
        </form>
        <p class="register-link">
            Already have an account? <a href="/login">Login here</a>
        </p>
    </mat-card>
</div>
