/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding: 60px 0 40px; /* Adjust padding for navbar and footer */
    box-sizing: border-box;}
  
.router-outlet {
    min-height: calc(100vh - 100px); /* Full page height minus navbar and footer */
}
  
